# 6.1-6.9, 6.11

In [ ]:
#6.1

In [24]:
aspects = {
    'first name' : 'tommy',
    'last name': 'connor',
    'age': 22,
    'city' : 'hoboken'
}
for aspect in aspects:
    print(aspect.title() + " "+ (str(aspects[aspect])).title())

First Name Tommy
Last Name Connor
Age 22
City Hoboken

In [ ]:
#6.2

In [20]:
fav_numbers = {
    'cal':6, 'ella': 8, 'sloan':3, 'logan': 6, 'emily': 2
}
for fav_number in fav_numbers:
    print(fav_number.title() + " " + str(fav_numbers[fav_number]))

Cal 6
Ella 8
Sloan 3
Logan 6
Emily 2

In [ ]:
#6.3, 6.4

In [1]:
glossary = {
    'dictionary': 'data storage', 
    'variable': 'reference',
    'integer': 'number',
    'string': 'an array',
    'loop' : 'iterating thru a data set'
}
for x in glossary:
    print(x + ": " + str(glossary[x]) + "\n")

dictionary: data storage

variable: reference

integer: number

string: an array

loop: iterating thru a data set

In [ ]:
#6.5

In [9]:
rivers = {
    'mississippi': 'USA', 
    'garonne': 'france', 
    'thames' : 'england'
}
for river in rivers:
    print("The " + river.title() + " runs through " + (rivers[river]).title())
    
for river in rivers:
    print(river)
    
for river in rivers:
    print(rivers[river])

The Mississippi runs through Usa
The Garonne runs through France
The Thames runs through England
mississippi
garonne
thames
USA
france
england

In [ ]:
#6.6

In [4]:
favorite_languages = {
'jen': 'python',
 'sarah': 'c',
 'edward': 'ruby',
 'phil': 'python',
 }
for name, language in favorite_languages.items():
    print(name.title() + "'s favorite language is " +
 language.title() + ".")

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Ruby.
Phil's favorite language is Python.

In [19]:
people = ['ella', 'sloan', 'jen', 'edward']
for p in people:
    if p in favorite_languages.keys():
        print("Thank you " + p + " for taking the poll.")
    else:
        print("Take the poll, " + p)

Take the poll, ella
Take the poll, sloan
Thank you jen for taking the poll.
Thank you edward for taking the poll.

In [20]:
#6.7

In [27]:
aspects = {
    'first name' : 'tommy',
    'last name': 'connor',
    'age': 22,
    'city' : 'hoboken'
}

aspects1 = {
    'first name' : 'ella',
    'last name': 'kamm',
    'age': 21,
    'city' : 'milwaukee'
}

aspects2 = {
    'first name' : 'sloan',
    'last name': 'woodberry',
    'age': 21,
    'city' : 'denver'
}
people1 = [aspects, aspects1, aspects2]

for p in people1:
    print(p)

{'first name': 'tommy', 'last name': 'connor', 'age': 22, 'city': 'hoboken'}
{'first name': 'ella', 'last name': 'kamm', 'age': 21, 'city': 'milwaukee'}
{'first name': 'sloan', 'last name': 'woodberry', 'age': 21, 'city': 'denver'}

In [28]:
#6.8

In [32]:
momo = {
    'name' : 'momo',
    'animal' : 'dog', 
    'owner' : 'logan'
}

sugar = {
    'name' : 'sugar',
    'animal' : 'bird', 
    'owner' : 'barb'
}

bowie = {
    'name' : 'bowie',
    'animal' : 'dog', 
    'owner' : 'ella'
}

pets = [momo, sugar, bowie]
for p in pets:
    print(p)

{'name': 'momo', 'animal': 'dog', 'owner': 'logan'}
{'name': 'sugar', 'animal': 'bird', 'owner': 'barb'}
{'name': 'bowie', 'animal': 'dog', 'owner': 'ella'}

In [33]:
#6.9

In [15]:
favorite_places = {
    'ella' : ['spain', 'costa rica'], 
    'sloan' : ['denver', 'nyc'], 
    'logan' : ['paris', 'nyc']
}
for n in favorite_places.items():
    for p in n:
        print(p)

ella
['spain', 'costa rica']
sloan
['denver', 'nyc']
logan
['paris', 'nyc']

In [46]:
#6.11

In [53]:
cities = {
    'nyc': {'country': 'USA', 'population': 8500000, 'fact': 'there are 5 boroughs.'}
        , 
    'rome': {'country': 'italy', 'population': 2900000, 'fact':'there are 280 fountains.' }, 
    'mexico city': {'country': 'mexico', 'population':8900000, 'fact': 'it was built over a lake.'}
}

for i, c in cities.items():
    print(i,c)

nyc {'country': 'USA', 'population': 8500000, 'fact': 'there are 5 boroughs.'}
rome {'country': 'italy', 'population': 2900000, 'fact': 'there are 280 fountains.'}
mexico city {'country': 'mexico', 'population': 8900000, 'fact': 'it was built over a lake.'}